
.inicio {
    
    padding: 20px;
    background-color: #ffffe1;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    position: relative;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow: hidden;
    border-radius: 10px;
}

.slider{
    background-image: url(https://cf.bstatic.com/xdata/images/hotel/max1024x768/208038194.jpg?k=8fd5cf6c234bb803d14a39ecca5f53cf11ccbc63fae108dd869ea7d20b4d5758&o=&hp=1);
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 100%;


}

.slider-image{
    background-color: #000;
    object-fit: cover;
    
}


.contenido{
    color: #000;

    background-color: #fffddd;
}
